<div style="padding: 15px; margin-top: 35px;">
    {{#each data}}
    <div class="card">
        <div class="card-content">
            <table class="striped centered">
                <thead>
                    <tr>
                        <th>
                            <h5>{{ this.name }} Status</h5>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        {{#each this.columns}}
                        <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each this.cameras}}
                    <tr tabindex="0">
                        {{#each this}}
                        <td >{{this}}</td>
                        {{/each}}
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="3" style="font-style: italic; color: red">No cameras found.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="card-content">
            No Orchids found.
        </div>
    </div>
    {{/each}}
</div>